<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karabiner-Elements complex_modifications rules</title>
    <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://pqrs.org/osx/karabiner/complex_modifications/">Karabiner-Elements complex_modifications rules</a>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-bottom: 100px">
      <div class="text-right" style="margin-bottom: 30px">
        <a href="https://github.com/pqrs-org/KE-complex_modifications">GitHub</a>
      </div>

      <%
          $toc = []
          $groups = ""

          add_group("Modifier Keys","modifier_keys",[
              "docs/json/caps_and_return_to_ctrl.json",
              "docs/json/caps_lock.json",
              "docs/json/control.json",
              "docs/json/shift.json",
              "docs/json/change_shift_l.json",
              "docs/json/modifiers_to_f-keys.json",
              "docs/json/delete.json",
              "docs/json/change_command_l.json",
              "docs/json/change_command_r.json",
              "docs/json/ctrl_command_fn_letter_specials.json"
          ])

          add_group("Emulation Modes","emulation_modes",[
            "docs/json/diamond_cursor.json",
            "docs/json/vi_mode.json",
            "docs/json/vi_style_arrows.json",
            "docs/json/emacs_key_bindings.json",
            "docs/json/numeric_keypad.json",
            "docs/json/hhkb_mode.json",
            "docs/json/fn_plus_numbers_to_function_keys.json",
            "docs/json/pok3r-media.json",
            "docs/json/pc_shortcuts.json",
            "docs/json/mu_mode.json"
          ])

          add_group("Application Specific","application_specific",[
              "docs/json/swap_alt_cmd_in_autodesk_maya.json",
              "docs/json/remote-desktop.json",
              "docs/json/tmux_prefix.json",
              "docs/json/launch_new_Chrome_or_iTerm2_windows.json"
          ])

          add_group("Alternative Keyboard Layouts","alternative_keyboard_layouts",[
              "docs/json/dvorak_layout.json",
              "docs/json/colemak_layout.json"
          ])

          add_group("International (Language Specific)","International",[
            "docs/json/japanese.json"
          ])

          add_group("Key Specific","key_specific",[
              "docs/json/exchange_numbers_and_symbols.json",
              "docs/json/exchange_semicolon_and_colon.json",
              "docs/json/nonbreaking_space.json",
              "docs/json/spacebar.json",
              "docs/json/command_arrows_to_option_arrows.json"
          ])

          add_group("OS Functionality","os_functionality",[
              "docs/json/launch_apps.json",
              "docs/json/application_window_tab_switch_with_right_cmd_hjklsemiquote.json"
          ])

          add_group("Personal Settings","personal_settings",[
              "docs/json/personal_tekezo.json",
              "docs/json/personal_apm1467.json",
              "docs/json/personal_rubocoptero.json"
          ])

          add_group("Miscellaneous","miscellaneous",[
              "docs/json/block_one_handed_combos.json"
          ])

      %>

      <%= render_toc() %>
      <div class="text-left" style="margin-bottom: 30px">
        <a href="javascript:$('.collapse').collapse('show')">Expand All</a> |
        <a href="javascript:$('.collapse').collapse('hide')">Collapse All</a>
      </div>

      <%= $groups %>

      <hr />
      <a href="example.html">Other examples</a>
    </div>

    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
