<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karabiner-Elements complex_modifications rules</title>
    <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://pqrs.org/osx/karabiner/complex_modifications/">Karabiner-Elements complex_modifications rules</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= file_import_panel("docs/json/exchange_numbers_and_symbols.json") %>
      <%= file_import_panel("docs/json/right_control_alone_to_return_or_enter.json") %>
      <%= file_import_panel("docs/json/spacebar_to_shift.json") %>
      <%= file_import_panel("docs/json/japanese_command_to_eisuu_kana.json") %>
    </div>

    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
