name: KE-complex_modifications CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: recursive
      - name: rebuild
        run: make rebuild
      - name: check uncommitted changes
        run: bash core/scripts/check-uncommitted-changes.sh
